
/* SECTIONS */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
  }
  

.main-app-page{
    display: flex;
    align-items: center;
}

.Seamless-Picture{
    height: 40%;
    width: 50%;
}

.youtube-input{
    font-size: 30px;
    
}